.talk h1 {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 32px;
}

.form1 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.form1 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 240px;
  margin-right: 15px;
}

.form2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.form2 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 589px;
}

.form3 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.form3 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 887px;
}

.form4 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.form4 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 887px;
}

.form5 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.form5 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 887px;
}

.talk .budget {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  margin-bottom: 32px;
}
 .slidecontainer {
  width: 80%;
  margin: 0 auto; 
  margin-bottom: 32px;
}


.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 25px;
  background: #A09494; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 50px;
}


.slider:hover {
  opacity: 1; 
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #D4A437; 
  cursor: pointer; 
  border-radius: 50px;
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #D4A437; 
  cursor: pointer; 
  border-radius: 20px;
}


 
.form7 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.form7 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 887px;
}

.form8 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.form8 input {
  border: unset;
  border-bottom: 2px solid black;
  max-width: 400px;
}

.talk .talk_button {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 29px;
}

.talk .talk_button a {
  font-size: 18px;
  color: white;
  padding: 4px 47px;
  background-color: #D4A437;
}



@media(max-width:1440px){
  h1 {
    font-size: 50px;
  }
  h2{
    font-size: 30;
  }
  .form2 input {
    max-width: 495px;
  }
  .form4 input {
    max-width: 410px;
  }
  .form7 input {
    max-width: 490px;
  }
  .form8 input {
    max-width: 282px;
  }

}

@media(max-width:1024px){
  h1 {
    font-size: 45px;
  }
  h2{
    font-size: 26;
  }
  .form4 input {
    max-width: 345px;
  }
  .form8 input {
    max-width: 265px;
  }
}

@media(max-width:991px){
  h1 {
    font-size: 40px;
  }
  h2{
    font-size: 24px;
  }
  .form1 input {
    max-width: 205px;
  }
  .form2 input {
    max-width: 488px;
  }
  .form3 input {
    max-width: 320px;
  }
  .form4 input {
    max-width: 183px;
  }
  .form5 input {
    max-width: 360px;
  }
  .form7 input {
    max-width: 354px;
  }
  .form8 input {
    max-width: 472px;
  }

}

@media(max-width:768px){
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 22px ;
  }
  .form1 input {
      max-width: 100%;
  }
  .form2 input {
    max-width: 100%;
}
.form3 input {
  max-width: 100%;
}
.form4 input {
  max-width: 100%;
}
.form5 input {
  max-width: 100%;
}
.form7 input {
  max-width: 100%;
}
.form8 input {
  max-width: 100%;
}
}