/* Global css start */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  /* display: inline-block; */
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}
h3{
  font-size: 25px;
}

p {
  font-size: 18px;
}

.p1 {
  font-size: 14px;
}


h1 span,
h2 span,
h3 span,
h4 span {
  font-weight: 700;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1640px;
  width: 92%;
  margin: 0 auto;
}

/* Global css end */

/* header css start */
.clear {
  display: none;
}

header {
  background: black;
  width: 100%;
}

header nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

header .header_logo img {
  width: 100%;
}
nav .list ul {
  display: block;
}

header nav .list ul {
  max-width: 750px;
  display: flex;
  justify-content: space-between;
}

header nav .list ul li {
  margin-right: 50px;
  padding-top: 3px;
}
header nav .list ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 900;
  color: white;
}
nav ul li a:hover {
  color: black;
  background-color: #c2ab6c;
  height: 15px;
  width: 100%;
}

/* heder css ends */

/* Banner starts */
.banner {
  background-image: url("./../images/backgroundimage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
}
.banner_main {
  position: relative;
}
.banner .banner_text {
  padding-top: 184px;
  padding-bottom: 418px;
  margin-left: 316px;
}
.banner .banner_text h1 {
  max-width: 724px;
}
.banner_text h1 span {
  font-weight: 700;
}
.banner_text .e {
  margin-left: -4px;
  color: #c2ab6c;
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  display: inline-block;
}
.banner_text .text_1 {
  max-width: 335px;
    background-color: black;
    color: white;
    margin-top: 11px;
}
.banner_text .text_1 h2 {
  padding-left: 7px;
  padding-bottom: 4px;
}
.banner_text .text_2 {
  max-width: 335px;
  background-color: black;
  color: white;
  margin-top: 3px;
}
.banner_text .text_2 h2 {
  padding-left: 5px;
  padding-bottom: 4px;
}
.banner_text .text_3 {
  max-width: 643px;
  background-color: black;
  color: white;
  margin-top: 1px;
}
.banner_text .text_3 h2 {
  padding-left: 6px;
  padding-bottom: 4px;
  padding-top: 3px;
}
.banner_text .text_4 {
 
  max-width: 552px;
  background-color: black;
  color: white;
  padding-bottom: 2px;

}
.banner_text .text_4 h2 {
  padding-left: 6px;
  padding-bottom: 6px;
  margin-top: -3px;
}
.banner_images .gear1 {
  max-width: 125px;
  position: absolute;
  top: 198px;
  right: 289px;
}
.banner_images .gear2 {
  max-width: 85px;
  position: absolute;
  top: 338px;
    right: 302px;
}
.banner_images .gear .smile {
  max-width: 48px;
  position: absolute;
  top: 249px;
  right: 330px;
}
.banner_images .gear .heart {
  max-width: 35px;
  position: absolute;
  top: 374px;
  right: 331px;
}
.banner_images .gear .dotscircle {
  max-width: 163px;
  position: absolute;
  top: 165px;
  right: 259px;

}
.banner_images .gear .clockwise {
  max-width: 70px;
  position: absolute;
  top: 190px;
  right: 272px;
}
.banner_images .gear .anticlock {
  max-width: 61px;
  position: absolute;
  
  top: 382px;
  right: 289px;

}

.banner_images .dashboard .screen {
  max-width: 332px;
  width: 100%;
  position: absolute;
  top: 135px;
  right: 363px;
}
.banner_images .dashboard .yellowblock {
  max-width: 60px;
  position: absolute;
  top: 180px;
  right: 614px;

}
.banner_images .dashboard .dots {
  max-width: 131px;
  position: absolute;
  top: 289px;
    right: 426px;
}
.banner_images .dashboard .mail {
  max-width: 38px;
  position: absolute;
  top: 313px;
  right: 518px;
}
.banner_images .dashboard .setting {
  max-width: 38px;
  position: absolute;
  top: 337px;
  right: 473px;

}
.banner_images .dashboard .profile {
  max-width: 38px;
  position: absolute;
  top: 360px;
  right: 433px;
}
.banner_images .dashboard .signals {
  max-width: 38px;
  position: absolute;
 
  top: 383px;
  right: 393px;

}
.banner_images .dashboard .stats {
  max-width: 221px;
  position: absolute;
  top: 357px;
  right: 332px;
}
.banner_images .dashboard .circle {
  max-width: 66px;
  position: absolute;
  
  top: 473px;
  right: 361px;

}
.banner_images .dashboard .statsp {
  max-width: 27px;
  position: absolute;
  
  top: 493px;
  right: 381px;

}
.banner_images .dashboard .www {
  max-width: 172px;
  position: absolute;
  top: 356px;
    right: 548px;

}
.banner_images .dashboard .mailblock {
  max-width: 128px;
  position: absolute;
  top: 329px;
  right: 695px;
}
.banner_images .dashboard .block {
  max-width: 203px;
  position: absolute;
  top: 201px;
    right: 607px;
}
.banner_images .dashboard .view {
  max-width: 61px;
  position: absolute;
  top: 243px;
    right: 735px;

}
.banner_images .dashboard .magnifier {
  max-width: 134px;
  position: absolute;
  top: 368px;
  right: 574px;
}

/* Banner ends */

/* Work strats */
.work {
  display: flex;
  background-color: black;
}
.work .work_us h2 {
  color: white;
  font-weight: 700;
  padding-top: 270px;
  padding-left: 123px;
  letter-spacing: 1px;
  padding-bottom: 23px;
}
.work p {
  padding-left: 121px;
  color: white;
  padding-bottom: 7px;
  letter-spacing: 2px;
}

.work p i {
  font-size: 30px;
  padding-right: 19px;
  color: #d4a437;
}

/* work ends */

/* Technologies starts */
.technology {
  background-color: black;
  display: flex;
}
.tech_left {
  padding-left: 137px;
  padding-right: 68px;
}
.technology .tech_left h1 {
  color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 181px;
    padding-bottom: 15px;
    font-weight: 700;
    padding-right: 50px;
    letter-spacing: 1px;
}
.tech_left .p2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 722px;
  color: white;
  
  padding-bottom: 19px;

}
.tech .tech_right img {
  height: 100vh;
}
.languages {
  display: flex;
}
.tech_left .left_lang {
  padding-left: 7px;
}
.tech_left .lang1 {
  max-width: 305px;
}
.tech_left .lang2 {
  max-width: 305px;
  padding-top: 4px;
}
.tech_left .lang3 {
  margin-top: -4px;
  max-width: 305px;
}
.tech_left .lang4 {
  max-width: 305px;
  padding-top: 16px;
}
.tech_left .lang5 {
  max-width: 305px;
  padding-top: 16px;
}
.tech_left .languages .right_lang {
  padding-left: 71px;
}
.tech_left .lang6 {
  max-width: 305px;
}
.tech_left .lang7 {
  max-width: 305px;
  padding-top: 4px;
}
.tech_left .lang8 {
  margin-top: -4px;
  max-width: 305px;
}
.tech_left .lang9 {
  max-width: 305px;
  padding-top: 16px;
}
.tech_left .lang10 {
  max-width: 305px;
  padding-top: 16px;
}
.tech_left .languages .right_lang .lang7 {
  padding-top: 15px;
}
.tech_left .languages .right_lang .lang8 {
  padding-top: 6px;
}
.tech_left .languages .right_lang .lang9 {
  padding-top: 13px;
}
.tech_left .languages .right_lang .lang10 {
  padding-top: 13px;
}

/* Technologies ends */

/* solution starts */
.solution {
  position: relative;
  height: 100vh;
  background-color: black;
}
.problem_solution {
  display: flex;
}
.solution .problem h2 {
  font-weight: 700;
  width: 100%;
  max-width: 248px;
  position: absolute;
  top: 352px;
  left: 679px;
  text-align: right;
  padding-top: 106px;
  padding-bottom: 74px;
  border-radius: 138px 0px 0px 137px;
  line-height: 1.3;
  padding-right: 18px;
  z-index: 5;
}
.solution .leftborder {
  width: 100%;
  max-width: 261px;
  position: absolute;
  top: 352px;
  left: 679px;
}
.solutions_left .leftlines {
  position: absolute;
  top: 204px;
  left: 554px;
}
.solutions_left .path1 {
  position: absolute;
  top: 94px;
  left: 313px;
}
.solutions_left .path1 p {
  font-weight: 700;
  position: absolute;
  top: 38px;
  left: 63px;
}
.solutions_left .path2 {
  position: absolute;
  top: 202px;
  left: 179px;
}
.solutions_left .path2 p {

  font-weight: 700;
  position: absolute;

  top: 68px;
  left: 65px;
}
.solutions_left .path3 {
  position: absolute;

  top: 364px;
  left: 147px;
}
.solutions_left .path3 p {

  font-weight: 700;
  position: absolute;
  top: 48px;
  left: 75px;
}

.solutions_left .path4 {
  position: absolute;
  top: 520px;
  left: 167px;
}
.solutions_left .path4 p {

  font-weight: 700;
  position: absolute;
  top: 34px;
  left: 54px;
}
.solutions_left .path5 {
  position: absolute;
  left: 168px;
  bottom: 141px;
}
.solutions_left .path5 p {

  font-weight: 700;
  position: absolute;
  top: 43px;
  left: 62px;
}
.solutions_left .path6 {
  position: absolute;
  left: 326px;
  bottom: 0;
}
.solutions_left .path6 p {

  font-weight: 700;
  position: absolute;
  top: 43px;
  left: 70px;
}

.solution .solutions h2 {
  font-weight: 700;
  z-index: 5;
  width: 100%;
  max-width: 246px;
  position: absolute;
  top: 352px;
  left: 981px;
  text-align: left;
  padding-top: 103px;
  padding-bottom: 89px;
  padding-left: 15px;
  border-radius: 0px 188px 188px 0;
  line-height: 1.3;
  padding-right: 10px;
}
.solution .rightborder {
  width: 100%;
  max-width: 254px;
  position: absolute;
  top: 353px;
  left: 982px;
}
.solutions_right .rightlines {
  position: absolute;
  top: 200px;
  right: 570px;
}
.solutions_right .path7 {
  position: absolute;
  top: 95px;
  right: 314px;
}
.solutions_right .path7 p {

  font-weight: 700;
  position: absolute;
  top: 30px;
  right: 138px;
}
.solutions_right .path8 {
  position: absolute;
  top: 199px;
  right: 178px;
}
.solutions_right .path8 p {

  font-weight: 700;
  position: absolute;
  top: 66px;
  right: 125px;
}
.solutions_right .path9 {
  position: absolute;
  top: 362px;
  right: 147px;
}
.solutions_right .path9 p {

  font-weight: 700;
  position: absolute;

  top: 41px;
  right: 72px;
}
.solutions_right .path10 {
  position: absolute;
  bottom: 314px;
  right: 168px;
}
.solutions_right .path10 p {

  font-weight: 700;
  position: absolute;
  top: 30px;
  right: 188px;
}
.solutions_right .path11 {
  position: absolute;
  bottom: 133px;
  right: 176px;
}
.solutions_right .path11 p {

  font-weight: 700;
  position: absolute;
  top: 43px;
  right: 42px;
}
.solutions_right .path12 {
  position: absolute;
  bottom: -7px;
  right: 323px;
}
.solutions_right .path12 p {

  font-weight: 700;
  position: absolute;

  top: 47px;
  right: 67px;
}
/* solution ends */

/* Services starts */
.services {
  background-color: black;
  height: 100vh;
}
.services h2 {
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 104px;
  padding-bottom: 61px;
}
.services .services_images01 {
  display: flex;
}
.services .services_images02 {
  display: flex;
  padding-top: 32px;
}
.services .services_images01 .service_image {
  max-width: 535px;
  position: relative;
}
.services_images01 .service_text {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 508px;
  left: 5px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images01 .service_text .p3 {
  font-size: 9px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
}
.services_images01 .service_text .p4 {
  font-size: 8px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
}
.services .services_images01 .service_image1 {
  max-width: 547px;
  padding-left: 10px;
  position: relative;
}
.services_images01 .service_text1 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 508px;
  left: 15px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images01 .service_text1 .p3 {
  font-size: 9px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
  color: white;
}
.services_images01 .service_text1 .p4 {
  font-size: 8px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
  color: white;
}

.services .services_images01 .service_image2 {
  position: relative;
  max-width: 548px;
  padding-left: 10px;
}
.services_images01 .service_text2 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 508px;
  width: 100%;
  left: 16px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images01 .service_text2 .p3 {
  font-size: 9px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
}
.services_images01 .service_text2 .p4 {
  font-size: 8px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
}
.services .services_images02 .service_image3 {
  max-width: 535px;
  position: relative;
}
.services_images02 .service_text3 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 504px;
  left: 3px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images02 .service_text3 .p3 {
  font-size: 9px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
}
.services_images02 .service_text3 .p4 {
  font-size: 8px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
}
.services .services_images02 .service_image4 {
  max-width: 556px;
  padding-left: 22px;
  position: relative;
}
.services_images02 .service_text4 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 505px;
  left: 24px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images02 .service_text4 .p3 {
  font-size: 9px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
  color: white;
}
.services_images02 .service_text4 .p4 {
  font-size: 8px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
  color: white;
}
.services .services_images02 .service_image5 {
  max-width: 556px;
  padding-left: 20px;
  position: relative;
}
.services_images02 .service_text5 {
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 8px;
  max-width: 502px;
  left: 25px;

  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.services_images02 .service_text5 .p3 {
  font-size: 9px;
  padding-top: 7px;
  padding-left: 29px;
  font-weight: 700;
}
.services_images02 .service_text5 .p4 {
  font-size: 8px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 28px;
}
/* services ends */



/* <!-- Together starts --> */
.together {
  background-image: url(./../images/together.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 81px;
  padding-top: 84px;
}
.together h1 {
  color: white;
  font-weight: 700;
  padding-top: 69px;
  padding-left: 198px;
  padding-bottom: 26px;
}
.together .p1 {
  color: white;
  padding-left: 197px;
  max-width: 1045px;
  padding-bottom: 51px;
}
.together h2:first-child {
  padding-top: 0px;
}
.together h2 {
  color: white;
  font-weight: 500;
  padding-left: 206px;
  padding-top: 15px;
}
.together .heading {
  color: white;
  font-weight: 500;
  padding-left: 206px;
  padding-top: 70px;
}
/*   <!-- Together ends --> */

/* <!-- industry starts --> */
.industry {
  height: 100vh;
}
.industry h2 {
  text-align: center;
  padding-top: 90px;
  font-weight: 700;
}
.industry .p2 {
  text-align: center;
  max-width: 990px;
  margin: 0 auto;
  padding-top: 12px;
  padding-right: 10px;
}
.industry .upper_images {
  display: flex;
  max-width: 1620px;
  margin: 0 auto;

  padding-top: 48px;
}
.upper_images .indus_image1 {
  padding-right: 59px;
}
.upper_images .indus_image1 img:hover{
  color: white;
    opacity: 0.5;
}

.upper_images .indus_image2 {
  padding-right: 59px;
}
.upper_images .indus_image2 img:hover{
  color: white;
    opacity: 0.5;
}
.upper_images .indus_image3 {
  padding-right: 59px;
}
.upper_images .indus_image3 img:hover{
  color: white;
    opacity: 0.5;
}
.upper_images .indus_image4 {
  padding-right: 59px;
}
.upper_images .indus_image4 img:hover{
  color: white;
    opacity: 0.5;
}
.industry .lower_images {
  display: flex;
  padding-top: 81px;

  max-width: 1620px;
  margin: 0 auto;
}
.lower_images .indus_image6 {
  padding-right: 59px;
}
.upper_images .indus_image6 img:hover{
  color: white;
    opacity: 0.5;
}
.lower_images .indus_image7 {
  padding-right: 59px;
}
.upper_images .indus_image7 img:hover{
  color: white;
    opacity: 0.5;
}
.lower_images .indus_image8 {
  padding-right: 59px;
}
.upper_images .indus_image8 img:hover{
  color: white;
    opacity: 0.5;
}
.lower_images .indus_image9 {
  padding-right: 59px;
}
.upper_images .indus_image9 img:hover{
  color: white;
    opacity: 0.5;
}
/*   <!-- industry ends --> */

/* Clients starts */
.client h2 {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 52px;
}
.client .clients {
  display: flex;
  margin: 0 auto;
  text-align: center;
  overflow-x: auto;
}
.client .clients .client1 {
  padding-right: 10px;
  padding-left: 10px;
}
.slick-dots li {
  display: none;
}
.slick-next {
  display: none;
  width: 0px;
  height: 0;
}
.client .testimonals .clienthead {
  padding-top: 19px;
  padding-bottom: 12px;
}
.testimonals .p2 {
  margin: 0 auto;
  text-align: center;
  max-width: 1018px;
}
.reviews .reviews_image {
  margin: 0 auto;
  max-width: 260px;
  padding-top: 55px;
}
.reviews .reviews_text {
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  padding-top: 10px;
}
.reviews_text .p7 {
  max-width: 994px;
  margin: 0 auto;
  font-weight: 300;
  padding-bottom: 92px;
}
.help {
  background-image: url('./../images/bg.png');
  background-color: #2a2a2a;
  padding-bottom: 43px;
}
.help .helphead {
  color: white;
  padding-top: 46px;
  padding-bottom: 29px;
}
.help .help_button {
  text-align: center;
  margin: 0 auto;
  background-color: #c2ab6c;
  max-width: 374px;
  padding: 15px;
  border-radius: 10px;
}
.help .help_button a {
  color: black;
  font-weight: 700;
}
/* Clients ends */

/* footer */
footer{
  background-color: black;
  padding: 91px 0;
}
.footer_line{
  display: flex;
  justify-content: space-between;
}
.footer_logo{
  padding-top: 36px;
}
.footer_line .list1 li{
  padding-top: 36px;
}
.footer_line .list2 li{
  padding-top: 36px;
}
.footer_line li a{
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.footer_line .list3 li{
  padding-top: 36px;
  max-width: 500px;
}



/* footer */
